.about {
  min-height: 100vh;
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 8rem;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
  margin: 0 auto;
  padding-bottom: 8rem;
}

.about-heading {
  color: white;
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-bottom: 8rem;
}

.about-text {
  text-transform: uppercase;
  color: white;
  text-align: justify;
  margin-bottom: 1rem;
  font-size: 3rem;
  width: 100%;
}

.about-image {
  border: 6px solid black;
  border-radius: 20px;
  margin-top: 2rem;
  width: 100%; /* Set the width of the image to 100% */
  max-width: 100%; /* Set the maximum width of the image to 100% */
}

/* Media query for laptop/desktop width */
@media (min-width: 1800px) {
  .content-container {
    max-width: 70%; /* Reduce the width of the content container */
    flex-direction: row; /* Display the text and image side-by-side */
    justify-content: space-between; /* Add spacing between text and image */
  }

  .text-container {
    width: 60%; /* Set the width of the text container */
    padding-right: 10rem;
  }

  .about-image {
    width: 40%; /* Set the width of the image container */
    max-width: none; /* Remove the maximum width restriction */
  }
}

@media (max-width: 700px) {
  .about-text {
    text-align: left;
    font-size: 2rem;
  }
}

/* Modified code for the second row */
.content-container:nth-child(3) {
  flex-direction: row-reverse;
}

.text-container {
  padding-left: 10rem;
}
