@font-face {
  font-family: 'Aboretto';
  font-weight: normal;
  src: url('./fonts/Aboreto-Regular.ttf') format('truetype');
}

* {
  font-family: 'Aboretto', Arial, sans-serif;
  font-weight: normal;
  /* Or 'bold' for bold style */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  /* Adding an outline */
  -webkit-text-stroke: 2px white;
  -moz-text-stroke: 2px black;
  -ms-text-stroke: 2px black;
  -o-text-stroke: 2px black;
  text-stroke: 2px black;
}


body {
  margin: 0;
  padding: 0;
  background: #343434;
  font-family: sans-serif;
}

.header-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url('./assets/sailing5.png');
  filter: grayscale(100%);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0%;
}

.header-bg h2 {
  margin: 0;
  padding: 0;
  font-size: 5em;
  background: #fff;
  color: #000;
  padding: 20px;
  text-align: center;
  max-width: 80%;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);

}

a,
a:active,
a:hover {
  text-decoration: none;
  color: white;
  outline: 0;
}